.mt-8 {
    font-size: 18px;
    margin-top: 100px;
}
.image-content {
    object-fit: cover;
}
.title-card {
    font-size: 20px;
    font-weight: bold;
}
.select-custom .mat-form-field-appearance-fill .mat-form-field-flex {
    padding-top: 0px !important;
}
