<div class="mt-8">
    <div class="container">
        <div class="row " *ngIf="data">
            <div class="col-8 mt-5">
                <div class="row" style="width: 100%; height: 750px;">
                    <div class="col h-100">
                        <app-slide-six [dataList]="data.product_images" [slideId]="'test2'"></app-slide-six>
                    </div>
                </div>
                <div class="row mb-5 mt-3">
                    <mat-accordion>
                        <!-- #enddocregion basic-panel -->
                        <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                            <mat-expansion-panel-header>
                                <mat-panel-title>
                                    HƯỚNG DẪN CHỌN SIZE
                                </mat-panel-title>
                            </mat-expansion-panel-header>
                            <img src="../../../assets/images/giay.jpg" alt="" class="w-100"
                                *ngIf="data.product_type.product_type_id === 1">
                            <img src="../../../assets/images/guide.jpg" alt="" class="w-100"
                                *ngIf="data.product_type.product_type_id === 2">
                            <img src="../../../assets/images/duongkinhvodongho.jpg" alt="" class="w-100"
                                *ngIf="data.product_type.product_type_id === 3">
                            <img src="../../../assets/images/thatlung.jpg" alt="" class="w-100"
                                *ngIf="data.product_type.product_type_id === 4">

                        </mat-expansion-panel>
                        <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                            <mat-expansion-panel-header>
                                <mat-panel-title>
                                    CHÍNH SÁCH ĐỔI TRẢ
                                </mat-panel-title>
                            </mat-expansion-panel-header>
                            <img src="../../../assets/images/chinhsach.jpg" alt="" class="w-100">

                        </mat-expansion-panel>
                    </mat-accordion>

                </div>
            </div>
            <div class="col-4 mt-5">
                <div class="title-card mb-2">
                    {{data.product_name}}
                </div>
                <div class="price-card mb-4 d-flex">
                    <div class="" [ngClass]="{'text-rule':data.product_unit_price !== data.product_paid_price}">
                        {{data.product_unit_price | currency: "VND"}}
                    </div>
                    <div class="pl-1" *ngIf="data.product_unit_price !== data.product_paid_price">
                        {{data.product_paid_price | currency: "VND"}}
                    </div>
                </div>
                <div class="d-flex mb-1">
                    <div class="select-number d-flex flex-column">
                        <div class="font-weight-bold">
                            Số lượng
                        </div>
                        <div class="">
                            <mat-form-field appearance="fill" class="number-input">
                                <mat-label></mat-label>
                                <input matInput [(ngModel)]="qty" name="number" appNumbersOnly type="number">
                            </mat-form-field>
                        </div>
                    </div>
                </div>
                <div class="mb-2">
                    <div class="mb-2 font-weight-bold">
                        Chọn Size
                    </div>
                    <div class="">
                        <button mat-stroked-button class="mr-1" *ngFor="let item of dataListSize"
                            (click)="handleClickSize(item)">{{item.product_size.product_size_title}}</button>
                    </div>


                </div>

                <div class="description-card mb-2 mt-2">
                    <div class="mb-2 font-weight-bold">
                        Mô tả sản phẩm
                    </div>
                    <ul class="">
                        <li class="" style="color:#929292" *ngFor="let item of description">
                            {{item}}.
                        </li>
                    </ul>

                </div>
                <div class="d-flex justify-content-center align-items-center">
                    <button mat-button style="background-color:#FA574F ; color:#ffffff" (click)="addToCart()"><span
                            class="material-icons justify-content-center align-items-center">
                            add_shopping_cart
                        </span>Thêm vào giỏ hàng</button>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="review-product mb-5">
                ĐÁNH GIÁ SẢN PHẨM
            </div>
            <div class="w-100 mb-5 d-flex align-items-center justify-content-around"
                style="height: 80px; background-color: #FFFBF8;">
                <button mat-flat-button class="btn-action" *ngFor="let item of dataStar"
                    [ngClass]="{ active: item.isActive }" (click)="handleItemClick(item)">{{item.name}}</button>

            </div>
            <div class="w-100 px-5 mb-5 all-comment">
                <div class="mb-3" *ngFor="let item of dataComment">
                    <app-card-comment [data]="item"></app-card-comment>
                </div>

            </div>
            <div class="d-flex flex-column mb-5 w-100">
                <div class="mb-5 enter-text">
                    Để lại bình luận:
                </div>
                <div class="px-5">
                    <div class="mb-2">
                        <div class="rate-container d-inline-flex">
                            <button mat-icon-button class="start-wrapper d-inline-flex"
                                *ngFor="let star of arrayStars;index as i" (click)="handleRateing(i)">
                                <mat-icon class="rate-icon">star
                                    <span class="fill-start" [ngStyle]="{ width: star + '%' }">
                                        <mat-icon class="rate-icon">star</mat-icon>
                                    </span>
                                </mat-icon>
                            </button>

                        </div>
                    </div>
                    <mat-form-field appearance="fill" class="w-100">
                        <textarea matInput placeholder="Đánh giá sản phẩm" [(ngModel)]="review"></textarea>
                    </mat-form-field>
                </div>
                <div class="pl-5">
                    <button mat-raised-button style="background-color: #FB584F;color:#ffffff;"
                        (click)="sendReview()">Gửi bình luận</button>
                </div>
            </div>
        </div>
    </div>
</div>