:host {
  display: flex;
  flex-direction: column;
  outline: none;
  width: 100%;

  &:hover,
  &:focus {
    > .menu-list-item:not(.expanded):not(.active) {
      div.route-text {
        margin-left: 2px;
      }
    }
  }

  .menu-list-item {
    color: white;
    margin-top: 15px;
    &.active.child {
      background-color: #a8a8a8;
      color: white;
      border-radius: 10px;
    }

    &.active.no-child {
      background-color: #888;
      color: white;
      border-radius: 10px;
    }

    &.info-item {
      cursor: unset;
    }
    padding: 10px 8px;
    cursor: pointer;

    span.route-icon {
      margin-right: 10px;
    }

    .route-text {
      font-weight: 500;
      span.material-icons {
        font-size: 15px;
      }

      &.child-route {
        font-size: 12px;
        span.material-icons {
          font-size: 12px;
        }
      }
    }
  }
  a {
    text-decoration: none;
  }
}
