$item-height: 3rem;
$transition-close: all 0.4s ease-out;
:host {
  ::-webkit-scrollbar {
    width: 4px;
  }

  ::-webkit-scrollbar-thumb {
    background: #bcbcbc;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
  }
}

.menu-three-container {
  height: 100%;

  span.material-icons {
    top: 10px;
    right: 5px;
    z-index: 2;
    color: #fff;
    cursor: pointer;
    font-size: 26px;
    transition: $transition-close;
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    border: 2px solid white;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    -webkit-transition: $transition-close;
    -moz-transition: $transition-close;
    -ms-transition: $transition-close;
    -o-transition: $transition-close;
  }

  .main-content {
    background-color: #666;
    &,
    & * {
      transition: $transition-close;
      -webkit-transition: $transition-close;
      -moz-transition: $transition-close;
      -ms-transition: $transition-close;
      -o-transition: $transition-close;
      color: #fff;
    }
  }

  .user-info {
    width: 100%;
    flex-shrink: 0;
    padding: 35px 0 0;
    transition: $transition-close;
    img {
      width: 140px;
      height: 140px;
      border-radius: 50%;
    }
    span.user-name {
      margin-top: 45px;
      font-size: 24px;
    }
    span.user-email {
      margin-top: 4px;
      font-size: 12px;
    }
  }

  .list-action {
    margin-top: 30px;
    flex-grow: 1;
    overflow-y: auto;
  }

  .division {
    width: 96%;
    height: 1px;
    background-color: aliceblue;
    margin-top: 15px;

    &.first {
      margin-left: 2%;
    }
  }

  .action-footer {
    flex-shrink: 0;

    margin: 3rem 0rem;
    .sign-out {
      background-color: white;
      padding-left: 50px;
      height: $item-height;
      font-weight: 500;
      background-color: #226484;
      color: #91b2c1;
    }

    .contact-item {
      height: $item-height;
      padding-left: 80px;
    }
  }

  .item-in-list {
    font-size: 12px;
  }

  &.close-state {
    span.material-icons.not-hide {
      transform: translateX(50%) rotate(0deg);
      -webkit-transform: translateX(50%) rotate(0deg);
      -moz-transform: translateX(50%) rotate(0deg);
      -ms-transform: translateX(50%) rotate(0deg);
      -o-transform: translateX(50%) rotate(0deg);
      right: 50%;
    }

    .main-content {
      width: 80px !important;
      img.not-hide {
        width: 70px;
        height: 70px;
      }
      & *:not(.not-hide) {
        opacity: 0;
      }

      .user-info {
        padding: 75px 0 0;
      }
    }
  }
}

::ng-deep {
  .menu-three-container {
    .mat-expansion-panel {
      box-shadow: unset !important;
    }

    .mat-expansion-panel-header {
      background: unset !important;
      height: $item-height !important;
      padding-left: 40px;

      .mat-content {
        display: unset !important;
        flex: unset !important;
      }
    }

    .mat-expansion-panel-body {
      padding: 0 !important;
    }

    button:focus {
      outline: unset !important;
    }
  }
}
