<div class="card-container">
    <div class="card-images w-100 h-80 d-flex justify-content-center align-items-center">
        <img src={{dataProduct.product_image1}} alt="" class="card-image--one ">
        <img src={{dataProduct.product_image2}} alt="" class="card-image--two ">
    </div>
    <div class="card-title w-100 d-flex justify-content-center align-items-center">
        {{dataProduct.product_name}}
    </div>
    <div class="card-description w-100 d-flex justify-content-center align-items-center">
        {{dataProduct.product_description}}
    </div>
    <div class="card-price w-100 d-flex justify-content-center align-items-center">
        {{dataProduct.product_unit_price}}
    </div>
</div>