<div class="card-container" *ngIf="number>0">
    <div class="row">
        <div class="col-1 d-flex justify-content-center align-items-center">
            <div class="card-btn--check">
                <mat-checkbox class="example-margin" [(ngModel)]="checked"></mat-checkbox>
            </div>
        </div>
        <div class="col-4 d-flex align-items-center">
            <img src={{data.product_images}} class="card-image w-50">
            <div class="card-title m-0">
                {{data.product_name}}
            </div>
        </div>
        <div class="col-2 d-flex align-items-center">
            <div class="card-price">
                {{data.product_unit_price}}
            </div>
        </div>
        <div class="col-2 d-flex align-items-center">
            <div class="card-amount w-100 d-flex justify-content-between align-items-center">
                <button mat-raised-button (click)="handlePlus()">
                    <span class="material-icons">
                        add
                    </span>
                </button>
                <div class="card-amount--text">
                    {{number}}
                </div>
                <button mat-raised-button (click)="handleMinus()">
                    <span class="material-icons">
                        remove
                    </span>
                </button>
            </div>
        </div>
        <div class="col-2 d-flex justify-content-center align-items-center">
            <div class="card-price">
                {{total}}
            </div>
        </div>
        <div class="col-1 d-flex justify-content-center align-items-center">
            <button mat-raised-button (click)="handleDelete()">
                <span class="material-icons">
                    delete
                </span>
            </button>
        </div>
    </div>
</div>