<div class="container">
    <div class="change-container">
        <div class="change-title">
            Đổi Mật Khẩu
        </div>
        <div class="change-content row mt-5">
            <div class="col-2"></div>
            <div class="col-8">
                <div class="account-name row align-items-center mb-2">
                    <div class="col-3">
                        Mật khẩu hiện tại
                    </div>
                    <div class="col" [formGroup]="changeForm">
                        <mat-form-field [floatLabel]="'never'" class="w-100">
                            <input matInput formControlName="customer_password" type="password" />
                            <mat-error>{{
                                changeForm.controls["customer_password"].errors?.message
                            }}</mat-error>
                        </mat-form-field>
                    </div>
                </div>
                <div class="account-name row align-items-center mb-2">
                    <div class="col-3">
                        Mật khẩu mới
                    </div>
                    <div class="col" [formGroup]="changeForm">
                        <mat-form-field [floatLabel]="'never'" class="w-100">
                            <input matInput formControlName="customer_newPass" type="password" />
                            <mat-error>{{
                                changeForm.controls["customer_newPass"].errors?.message
                            }}</mat-error>
                        </mat-form-field>
                    </div>
                </div>
                <div class="account-name row align-items-center mb-2">
                    <div class="col-3">
                        Xác nhận mật khẩu
                    </div>
                    <div class="col" [formGroup]="changeForm">
                        <mat-form-field [floatLabel]="'never'" class="w-100">
                            <input matInput formControlName="customer_reNewPass" type="password" />
                            <mat-error>{{
                                changeForm.controls["customer_reNewPass"].errors?.message
                            }}</mat-error>
                        </mat-form-field>
                    </div>
                </div>
                <div class="btn-action mb-5 mt-2">
                    <button mat-raised-button color="warn" style="width:150px;height: 40px;" (click)="handleValue()">Xác
                        nhận</button>
                </div>
            </div>
        </div>

    </div>
</div>