<div class="card-order d-flex w-100" *ngIf="data">
    <img src="{{data.productInfo.product_images[0]}}" alt="" style="width:100px;height:110px" class="mr-2 image-order">
    <div class="d-flex justify-content-between w-100 ">
        <div class="">
            <div class="">
                {{data.productInfo.product_name}}
            </div>
            <div class="">
                x{{data.order_detail_qty}}
            </div>
        </div>
        <div class="d-flex flex-column justify-content-between">
            <div class="">
                {{data.total | currency: "VND"}}
            </div>
        </div>
    </div>
</div>