.landing-page {
  width: 100%;

  .header-page {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 3;
    background-color: rgba($color: black, $alpha: 0.3);
    .header-right {
      .header-menu02 {
        margin: 0px 20px;
      }
    }
  }
  .slider-header {
    height: 600px;
  }
  .course-header {
    .course-header--title {
      width: 100%;
      text-align: center;
      font-size: 30px;
      font-weight: bold;
      padding: 25px 0px;
    }
    .course-header--content {
      padding: 0px 100px;
      height: 455px;
    }
  }
  .care-header {
    margin: 80px 0px;
    background-color: #f1f8fc;
    .care-header--title {
      padding: 25px 0px;
      text-align: center;
      font-size: 30px;
      font-weight: bold;
    }
    .care-header--content {
      padding: 0px 100px;
    }
  }
  .service-body {
    width: 100%;
    .service-body--title {
      font-size: 30px;
      font-weight: bold;
      text-align: center;
      position: relative;
      padding: 25px 0px;
    }

    .service-body--content {
      .service-item {
        height: 480px;
        width: 360px;
      }
    }
  }
  .slide-tab {
    ::ng-deep .mat-tab-header {
      border-bottom: none;
      .mat-tab-label-content {
        font-size: 30px;
      }
    }
  }
  .team--instrutor {
    .team-instructor--title {
      font-size: 30px;
      font-weight: bold;
      text-align: center;
      padding: 25px 0px;
    }
    .team-instructor--content {
      height: 500px;
    }
  }
  .review-person {
    height: 900px;
    padding: 80px 0px;
    .review-header {
      font-size: 30px;
      font-weight: bold;
      text-align: center;
      padding: 25px 0px;
    }
  }
}
