<div class="landing-page">

  <div class="slider-header">
    <app-slide-one [dataList]="dataListSlide1" [slideId]="'slide01-1'" (actionItemClick)="handle($event)">
    </app-slide-one>
  </div>
  <div class="course-header">
    <div class="course-header--title">Sản phẩm đang được giảm giá</div>
    <div class="course-header--content">
      <app-slide-four [dataList]="slider04" [slideId]="'slide04-1'" [gutter]="gutter"
        (actionItemClick)="handleSlider4($event)"></app-slide-four>
    </div>
  </div>
  <div class="care-header">
    <div class="care-header--title">Được quan tâm nhiều</div>
    <div class="care-header--content">
      <div class="card-item" *ngFor="let item of dataCard02; let i = index">
        <app-card-two [data]="item" [actions]="'true'" [imageBefore]="i % 2 === 0" (actionClick)="handle($event)">
        </app-card-two>
      </div>
    </div>
  </div>


  <div class="team--instrutor">
    <div class="team-instructor--title">Sản phẩm của chúng tôi</div>
    <div class="team-instructor--content">
      <app-slide-three [dataList]="slider03Data" [slideId]="'slide03-1'" (actionItemClick)="handle($event)">
      </app-slide-three>
    </div>
  </div>
  <div class="service-body d-flex justify-content-around flex-column pb-4">
    <div class="service-body--title">Tại sao chọn chúng tôi</div>
    <div class="service-body--content d-flex justify-content-around">
      <div class="service-item" *ngFor="let card of card10Data; index as i">
        <app-card-ten [cardData]="card" [direction]="card.position" [active]="i === currentServiceIndex"></app-card-ten>
      </div>
    </div>
  </div>


  <!-- <div class="review-person">
    <div class="review-header">
      Nhận xét từ khách hàng
    </div>
    <app-slide-two [dataList]="slider02Data" [slideId]="'slide02-1'" (actionItemClick)="handle($event)"></app-slide-two>
  </div> -->

</div>