<div class="admin-container">
    <div class="row admin-header">
        <div class="col-3">
            <img src="./../../../assets/images//huy1.png" alt="" class="admin-logo w-100">
        </div>
        <div class="col-9 d-flex justify-content-end pr-5">
            <app-menu-two [data]="dataInfo" [position]="position" (actionClick)="menuClick($event)"></app-menu-two>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-3"></div>
    <div class="col-9 pr-5">
        <div class="row pb-5">
        </div>
        <div class="row">
            <app-table-one [data]="data" class="w-100"></app-table-one>
        </div>
    </div>
</div>