<div class="header-page d-flex justify-content-between" *ngIf="!isShow">
    <div class="col header-left">
        <app-menu-one [menus]="menus" [logo]="logo" (itemClick)="handleItemClick($event)"></app-menu-one>
    </div>
    <div class="col header-right d-flex justify-content-end align-items-center">
        <div class="position-relative">
            <button mat-button class="header-cart d-flex justify-content-center align-items-center">
                GIỎ HÀNG
                <mat-icon matBadge="{{count}}" matBadgeColor="warn"> shopping_cart</mat-icon>
            </button>
            <div class="item-cart position-absolute" *ngIf="data">
                <div class="product-item d-flex flex-column" *ngIf="count>0;else blockElse">
                    <div class="d-flex mb-2" *ngFor="let item of dataCart">
                        <img src="{{item.product_images[0]}}" alt="" class="img-item-cart">
                        <div class="title-item-cart pl-1">
                            {{item.product_name}}
                        </div>
                    </div>

                </div>
                <ng-template #blockElse>
                    <div class="product-item d-flex flex-column">
                        <img src="../../assets/images/noProduct.png" alt="" class="w-100 h-100 config-image">
                    </div>
                </ng-template>
                <div class="item-action  w-100">
                    <button mat-raised-button color="warn" class="w-100" (click)="handleCartLink()">Xem giỏ
                        hàng</button>
                </div>
            </div>
        </div>


        <div class="header-menu02" *ngIf="data">
            <app-menu-two [data]="data" [position]="position" (actionClick)="menuClick($event)">
            </app-menu-two>
        </div>

        <div class="header-" *ngIf="!data">
            <app-popup01 (isLog)="handleCheck($event)"></app-popup01>
        </div>

        <div class="header-search">
            <app-search-one></app-search-one>
        </div>


    </div>
</div>
<router-outlet></router-outlet>
<div class="footer-01" *ngIf="!isShow">
    <app-footer-one [data]="footerData"></app-footer-one>
</div>
<app-c-spinner class="undisplayed"></app-c-spinner>