<div class="form-container">
    <div class="form-title">
        Đăng ký
    </div>
    <div class="form-group--container ">
        <div class="form-group">
            <input type="text" [(ngModel)]="phoneNumber" class="input" placeholder="098.xxx.9698">
        </div>
        <div id="recaptcha-container"></div>
        <button style="width: 100%;" mat-raised-button color="warn" (click)="sendLoginCode()">Gửi</button>
        <div class="" *ngIf="windowRef.confirmationResult">
            <label for="code"> Nhập mã code</label><br />
            <input type="text" class="input" name="code" [(ngModel)]="verificationCode">
            <button style="width: 100%;" mat-raised-button color="primary" (click)="verifyLoginCode()">Xác nhận</button>

        </div>
    </div>

</div>