.user-product {
    margin-top: 100px;
    .user-title {
        position: relative;
        font-size: 18px;
        font-weight: bold;
        &::before {
            position: absolute;
            left: 0;
            bottom: -20px;
            width: 10%;
            content: "";
            height: 1px;
            background: rgba(0, 0, 0, 0.2);
        }
    }
}
.list-card {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
.notes {
    font-size: 12px;
    font-style: italic;
    color: #f54336;
}
