<div class="container">
    <div class="user-product mb-5">
        <div class="user-title">
            Đơn hàng đã mua
        </div>
        <div class="mt-5">
            <mat-tab-group mat-align-tabs="start" (selectedTabChange)="handleChange($event)">
                <mat-tab label="{{item.label}}" *ngFor="let item of dataTab;index as i">
                    <div class=" mt-3" *ngFor="let order of data">
                        <app-card-order [data]="order" [arrStatus]="arrStatus[i]" [arrId]="arrId[i]"
                            (cancel)="handleCancel($event)">
                        </app-card-order>
                    </div>
                </mat-tab>
            </mat-tab-group>

        </div>

    </div>
</div>