<div class="sort-container">
  <form class="d-flex">
    <mat-form-field class="file-sort">
      <mat-label>Từ</mat-label>
      <input matInput [value]="value" [(ngModel)]="value" name="from" type="number" />
    </mat-form-field>
    <div class="d-flex align-items-center px-3">---</div>
    <mat-form-field class="file-sort">
      <mat-label>Đến</mat-label>
      <input matInput [value]="highValue" [(ngModel)]="highValue" name="to" type="number" />
    </mat-form-field>
  </form>
  <ngx-slider [(value)]="value" [(highValue)]="highValue" [options]="options"></ngx-slider>
  <div class="sort-container--content d-flex w-100 justify-content-between">
    <div class="sort-container--label">
      Min {{ data.minValue | moneyFormat | postfix: "VND" }}
    </div>
    <div class="sort-container--label">
      Max {{ data.maxValue | moneyFormat | postfix: "VND" }}
    </div>
  </div>
  <div class="sort-container--button w-100 d-flex justify-content-center mt-4">
    <button mat-raised-button (click)="handleClick()" class="sort-button">
      <span class="material-icons"> sort </span> Áp dụng
    </button>
  </div>
</div>