<form novalidate [formGroup]="rfContact" class="form-container">
  <div class="form-title">
    Đăng Nhập
  </div>
  <div class="form-group--container">
    <div class="form-group">
      <input class="form-control" type="text" id="example-text-input" formControlName="userID"
        placeholder="Email/Số điện thoại/Tên đăng nhập" />
      <div class="form-error" *ngIf="userID.invalid && (userID.dirty || userID.touched)">
        <span *ngIf="userID.errors?.message">
          {{ userID.errors.message }}
        </span>
      </div>
    </div>
    <div class="form-group">
      <input class="form-control" type="password" id="example-text-input" formControlName="userPass"
        placeholder="Mật khẩu" />
      <div class="form-error" *ngIf="userPass.invalid && (userPass.dirty || userPass.touched)">
        <span *ngIf="userPass.errors.message">
          {{ userPass.errors.message }}
        </span>
      </div>
    </div>
  </div>

  <div class="form-footer">
    <button style="width: 100%;" mat-raised-button color="warn" (click)="handleClick()">Xác nhận</button>
    <div class="footer-change">
      <button mat-button color="primary">Quên mật khẩu</button>
      <button mat-button color="primary">Quên mật khẩu</button>
    </div>
    <div class="footer-line">
      HOẶC
    </div>
    <div class="footer-end d-flex">
      <div class="col-6  d-flex justify-content-between">
        <button mat-mini-fab color="primary" aria-label="Example icon button with a home icon">
          <mat-icon>facebook</mat-icon>
        </button>
        <button mat-mini-fab color="warn" aria-label="Example icon button with a home icon">
          <mat-icon>email</mat-icon>
        </button>
        <button mat-mini-fab color="primary" aria-label="Example icon button with a home icon">
          <mat-icon>sms</mat-icon>
        </button>
      </div>
      <div class="col-6 footer-create d-flex justify-content-end align-items-center">
        <span> Bạn mới biết?</span>
        <button mat-button color="primary" (click)="handleSignup()">Đăng ký</button>
      </div>

    </div>

  </div>
</form>