<form class="example-form flex-column">
    <div class="w-100 d-flex">
        <button mat-button (click)="onEnter()"><span class="material-icons">
                search
            </span></button>
        <mat-form-field class="example-full-width">
            <input matInput placeholder="Nhập sản phẩm bạn quan tâm" [(ngModel)]="result" (keyup.enter)="onEnter()"
                [ngModelOptions]="{standalone: true}">
        </mat-form-field>
        <button mat-button *ngIf="result!=''" (click)="handleDelete()"><span class="material-icons">
                clear
            </span></button>
    </div>

    <div class="w-100 list-search" *ngIf="dataList">
        <div class="" *ngIf="dataList[0];else elseBlock">
            <div class="mb-1 d-flex hover-link" *ngFor="let item of dataList" (click)="handleSearchClick(item)">
                <img src="{{item.product_images[0]}}" alt="" class="image-find mr-2">
                <div class="">
                    <div class="">
                        {{item.product_name}}
                    </div>
                    <div class="">
                        {{item.product_type.product_type_name}}
                    </div>
                </div>
            </div>
        </div>
        <ng-template #elseBlock>
            <div class="w-100 h-100">
                <img src="../../../../assets/images/noProduct.png" alt="" class="image-no w-100 h-100">
            </div>
        </ng-template>


    </div>

</form>