<div class="card-one-container d-flex w-100 h-100" *ngIf="!!cardData">
  <div class="card-container--discount" *ngIf="!!cardData.discount">
    <img src="../../../../assets/images/discount.svg" alt="discount_img" class="card-discount--img" />
    <div class="card-discount--text">{{ cardData.discount }}</div>
  </div>
  <div class="card-one-content-container w-100 h-100">
    <img src="{{ cardData.img }}" alt="background" class="card-main--img w-100 h-100" />
    <div class="card-container--hide w-100 h-100">
      <div class="heart position-absolute" (click)="handleHeartClick()" data-toggle="tooltip" data-placement="left"
        title="Add to your wish list">
        <span class="material-icons" *ngIf="!cardData.isFavorite; else elseBlock">
          favorite_border
        </span>
        <ng-template #elseBlock><span class="material-icons">
            favorite
          </span></ng-template>
      </div>
      <div class="card-hide--content d-flex flex-column">
        <div class="card-content--title">
          {{ cardData.title }}
        </div>
        <div class="card-content--chips">
          <div class="card-chips--item">
            {{ cardData.chips }}
          </div>
        </div>
        <div class="card-content--sub">
          Sub title
        </div>
        <div class="card-content--stars">
          <div class="rate-container d-inline-flex">
            <div class="start-wrapper d-inline-flex mr-0" *ngFor="let star of arrayStars">
              <span class="rate-icon material-icons">star
                <span class="fill-start" [ngStyle]="{ width: star + '%' }">
                  <span class="rate-icon material-icons">star</span>
                </span>
              </span>
            </div>
            ({{ cardData.total }})
          </div>
        </div>
        <div class="card-content--description">
          {{ cardData.description }}
        </div>
        <div class="card-content--price-wrapper">
          <div class="card-content--price">
            {{ cardData.subContent |currency:"VND" }}
          </div>
          <del class="card-content--dis-price d-block">
            {{ cardData.subReContent |currency:"VND" }}
          </del>
        </div>
      </div>
      <div class="action position-absolute">
        <button mat-button (click)="handleClick()">
          Xem thêm
        </button>
      </div>
    </div>
  </div>
</div>