<div class="payment-container">
    <div class="container">
        <div class="row">
            <div class="col-8">
                <div class="title">
                    THÔNG TIN THANH TOÁN
                </div>
                <div class="content w-100 mt-3" *ngIf="data">
                    <div class="w-100" [formGroup]="InfoForm">
                        <mat-form-field appearance="fill" class="w-100 mb-2">
                            <mat-label>Họ và tên</mat-label>
                            <input matInput placeholder="Họ và tên" formControlName="customer_fullName">
                            <mat-error>{{
                            InfoForm.controls["customer_fullName"].errors?.message
                          }}
                            </mat-error>
                        </mat-form-field>
                        <div class="w-100 d-flex justify-content-between mb-2">
                            <mat-form-field appearance="fill" class="w-45">
                                <mat-label>Số điện thoại</mat-label>
                                <input matInput placeholder="Số điện thoại" formControlName="customer_phone">
                                <mat-error>{{
                                InfoForm.controls["customer_phone"].errors?.message
                              }}
                                </mat-error>
                            </mat-form-field>
                            <mat-form-field appearance="fill" class="w-45">
                                <mat-label>Địa chỉ email</mat-label>
                                <input matInput placeholder="Địa chỉ email" formControlName="email">
                                <mat-error>{{
                                InfoForm.controls["email"].errors?.message
                              }}
                                </mat-error>
                            </mat-form-field>
                        </div>
                        <mat-form-field appearance="fill" class="w-100 mb-2">
                            <mat-label>Tỉnh/Thành phố</mat-label>
                            <mat-select name="customer_province" formControlName="customer_province"
                                (selectionChange)="handleChange($event)">
                                <mat-option *ngFor="let customer_province of provinceList"
                                    [value]="customer_province.key">
                                    {{ customer_province.title }}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>

                        <mat-form-field appearance="fill" class="w-100 mb-2">
                            <mat-label>Quận/Huyện</mat-label>
                            <mat-select name="customer_district" formControlName="customer_district"
                                (selectionChange)="handleChange1($event)">
                                <mat-option *ngFor="let customer_district of districtList"
                                    [value]="customer_district.key">
                                    {{ customer_district.title }}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <mat-form-field appearance="fill" class="w-100 mb-2">
                            <mat-label>Xã/Phường/Thị trấn</mat-label>
                            <mat-select name="customer_ward" formControlName="customer_ward">
                                <mat-option *ngFor="let customer_ward of wardList" [value]="customer_ward.key">
                                    {{ customer_ward.title }}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <mat-form-field appearance="fill" class="w-100 mb-2">
                            <mat-label>Địa chỉ</mat-label>
                            <input matInput placeholder="Địa chỉ" formControlName="customer_address">
                            <mat-error>{{
                            InfoForm.controls["customer_address"].errors?.message
                          }}
                            </mat-error>
                        </mat-form-field>

                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="title">ĐƠN HÀNG CỦA BẠN</div>
                <div class="content mt-3">
                    <div class="order-product d-flex justify-content-between pb-2">
                        <span class="">
                            SẢN PHẨM
                        </span>
                        <span class="">
                            TẠM TÍNH
                        </span>
                    </div>
                    <div class="pb-2 pt-2 d-flex justify-content-between" *ngFor="let item of listOrder">
                        <div class="">
                            {{item.productInfo.product_name}} x {{item.cart_product_qty}}
                        </div>
                        <div class="">
                            {{item.total|currency:"VND"}}
                        </div>
                    </div>
                    <div class="d-flex justify-content-between pb-2 pt-2 order-product1">
                        <span class="">
                            Tạm tính
                        </span>
                        <span class="">
                            {{totalOrder|currency:"VND"}}
                        </span>
                    </div>
                    <div class="pb-2 pt-2order-product1">
                        <div class="pt-2">
                            Phương thức thanh toán
                        </div>
                        <div class="pt-2">
                            <mat-radio-group aria-label="Select an option" [(ngModel)]="paymentType">
                                <mat-radio-button value="cod" class="mr-4">Thanh toán khi nhận hàng</mat-radio-button>
                                <mat-radio-button value="momo">Thanh toán bằng Momo</mat-radio-button>
                            </mat-radio-group>
                        </div>
                    </div>
                    <div class="pb-2 pt-2 d-flex justify-content-between order-product">
                        <span class="">
                            Tổng
                        </span>
                        <span class="">
                            {{totalOrder|currency:"VND"}}
                        </span>
                    </div>
                    <div class="w-100 d-flex justify-content-center mt-3">
                        <button mat-stroked-button color="warn" (click)="handleOrder()"
                            [disabled]="listOrder.length<1">ĐẶT
                            HÀNG</button>
                    </div>


                </div>
                <div class="mt-3 d-flex align-items-center flex-column" *ngIf="paymentType === 'momo'">
                    <div class="text-center" *ngIf="value!=''">
                        Vui lòng quét mã QR bên dưới
                    </div>
                    <ngx-qrcode [elementType]="elementType" [value]="value" errorCorrectionLevel="L">
                    </ngx-qrcode>

                </div>
            </div>
        </div>
    </div>