.slide-one-container {
  .slide-one-item {
    &:focus {
      outline: none !important;
    }
  }
}

::ng-deep {
  .slide-one-container,
  .slick-list,
  .slick-track {
    height: 100%;
  }

  .slide-one-container {
    ul.slick-dots {
      bottom: 100px;
      li {
        width: 50px;
        height: 5px;
        margin: 0 10px;

        button {
          width: 100%;
          height: 100%;
          padding: 0;
          background-color: rgba($color: #fff, $alpha: 0.6);
          border-radius: 3px;
          -webkit-border-radius: 3px;
          -moz-border-radius: 3px;
          -ms-border-radius: 3px;
          -o-border-radius: 3px;

          &::before {
            content: "";
          }
        }
        &.slick-active {
          button {
            background-color: #3687ae;
          }
        }
      }
    }
  }
}
